<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ web }}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet tortor et neque lobortis maximus. Ut accumsan lacinia enim, et laoreet nibh dapibus eu. Sed sit amet risus orci. Pellentesque sodales odio massa, vitae ultrices sem pretium vitae. Maecenas aliquam viverra augue, ac accumsan dolor pretium quis. Donec mollis elit eu erat aliquet commodo. Aenean consectetur hendrerit tempus. Vestibulum id nulla tortor. Nullam ultricies ornare urna eu tristique. Vivamus sed diam vitae tellus pretium efficitur. Suspendisse nec tempus turpis. Suspendisse dignissim, tellus at ullamcorper lacinia, lorem neque vestibulum mi, eu maximus quam mauris eu nibh. Donec porta volutpat vehicula.</p>
</article>