@import "_base";

/* Generales */
body {
    @include fontStyle("yanone", 20px);
    background: url("../img/pattern.png");
    background-attachment: fixed;
}

.clearfix {
    float: none;
    clear: both;
}

/* Barra de navegacion / cabecera */
header {
    @include colorBlue(.8);
    display: block;
    width: 100%;
    height: 90px;
    position: fixed;
    text-transform: uppercase;

    ul {
        display: block;
        width: 40%;
        height: inherit;
        margin: 0px auto;
        margin-top: -3px;

        li {
            display: inline-block;
            margin: 0px auto;
            text-align: center;
            line-height: 88px;
        }
    }

    a {
        display: block;
        padding-right: 20px;
        padding-left: 20px;
        height: inherit;
        text-decoration: none;
        color: white;
        transition: all 500ms;
    }

    a:hover, .actived {
        background: rgba(0, 0, 0, .8);
    }

    #logo {
        @include fontStyle("finger", 30px);
    }

    #logo a {
        transition: color 500ms, transform 500ms;
    }

    #logo a:hover {
        background: transparent;
        color: black;
        transform: scale(1.50, 1.50);
    }
}


/* Contenedor principal */
#content {
    min-height: 600px;
    height: auto;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, .7);
    padding-top: 120px;
    padding-bottom: 50px;
}

/* Pie de pagina */
footer {
    width: 75%;
    margin: 0px auto;
    padding-top: 25px;
    color: rgba(0, 0, 0, .5);
}

/* Sobre mi */
#title {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;

    h1 {
        @include fontStyle("finger", 60px);
        @include borderBottom(1px, solid, $colorGray);
        padding-bottom: 5px;
    }

    h2 {
        font-size: 25px;
        color: gray;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

article.about {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;

    h2 {
        @include borderBottom(1px, solid, $colorGray);
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    p {
        padding-top: 20px;
        padding-bottom:100px;
        text-align: justify;
    }
}

/* Sección con formulario */
.container {
    padding: 50px;
    padding-top: 10px;

    h2 {
        @include borderBottom(1px, solid, $colorGray);
        display: block;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    form {
        width: 50%;

        label {
            display: block;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="number"],
        input[type="email"],
        textarea {
            width: 40%;
            padding: 5px;
        }

        button,
        input[type="submit"] {
            @include colorBlue(1);
            @include borderAll(1px, solid, $colorBlueDark);
            display: block;
            font-size: 18px;
            padding: 10px;
            margin-top: 15px;
            color: white;
            cursor: pointer;

            &:hover {
                @include colorBlue(.8);
            }
        }

        input[disabled] {
            @include borderAll(1px, solid, $colorGrayDark);
            background: $colorGray;
            border: 1px solid $colorGrayDark;
            cursor: not-allowed;
            &:hover {
                background: $colorGrayAccent;
            }
        }

        p {
            span {
                &.form_error {
                    padding: 3px;
                    background: red;
                    color: white;
                    font-size: 20px;
                    margin-left: 8px;
                }
            }
        }
    }

    .message {
        @include borderAll(1px, solid, #eee);
        width: 50%;
        padding: 5px;
    }

    .message {
        font-size: 26px;

        a {
            color: white;
        }
    }

    .success {
        background: green;
        color: white;
    }

    .failed {
        background: red;
        color: white;
    }

    /* Pagina de proyectos */
    .project {
        list-style: none;
        display: block;
        float: left;
        width: 29%;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;

        .image {
            width: 100%;
            height: 150px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    /* Pagina de detalle */
    .image-detail {
        width: 100%;

        img {
            width: 100%;
        }

        p {
            button-edit {
                width: 10%;
                float: left;
            }
        }
    }

    p {
        .button-edit, .button-delete {
            @include colorBlue(1);
            display: block;
            font-size: 18px;
            padding: 10px;
            margin-top: 15px;
            color: white;
            cursor: pointer;
            width: 30%;
            float: left;
            margin-right: 10px;
            text-decoration: none;
            text-align: center;
        }

        .button-edit {
            background: orange;
        }

        .button-delete {
            background: red;
        }

        .confirm {
            display: block;
            font-weight: bold;
            margin-top: 40px;
        }
    }
}